body,
html {
  font-family: "Roboto", sans-serif;
}

body {
  background: url(../assets/footer-bg.png) no-repeat center bottom;
  padding-bottom: 400px;
}
#header {
  width: 100%;
  background-color: transparent;
  transition: background ease-out 0.2s;
}

#header.active {
  position: fixed;
  background:#fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#header .navbar-collapse {
  width: auto;
}
#header .img-fluid {
  width: 150px;
}
#header .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  color: #000;
  border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
  border-bottom: solid 4px var(--secondary);
  color: var(--secondary);
}
#sobre span{
  font-weight: 900;
}
#sobre #sobre-coluna{
  background-color: var(--light);
}
#sobre ul{
  list-style-type: square;
}
#slider {
  background-size: contain;
}

#slider h1 {
  text-transform: uppercase;
  font-weight: 900;
}

#slider h4 {
  font-size: 18px;
  text-transform: uppercase;
}

#servicos a.destaque {
  display: block;
  background: var(--light);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#servicos a.destaque:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#servicos p {
  color: var(--dark);
}

#servicos a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#servicos a.destaque .img-container img {
  max-height: 160px;
}
#clientes a.link-cliente {
  padding: 0 15px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--light);
  height: 100px;
  transition: ease-out all 0.2s;
}

#clientes a.link-cliente:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

#clientes a.link-cliente img {
  filter: grayscale(70%);
  max-height: 70px;
  width: 100%;
  opacity: 0.6;
}

#clientes a.link-cliente:hover img {
  filter: none;
  opacity: 1;
}

#clientes .cliente-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--light);
  border-radius: 5px;
}

#clientes .cliente-texto .imagem {
  padding: 60px 0;
  display: flex;
  align-items: center;
  margin-left: -70px;
  color: #b4b4b4;
  font-size: 24px;
  line-height: 26px;
}

#clientes .cliente-texto .imagem span {
  color: var(--secondary);
  font-size: 110px;
  line-height: 110px;
  letter-spacing: -10px;
  font-weight: 900;
  text-align: center;
  display: block;
}
#clientes .cliente-texto .imagem #anos {
  margin-left: 30px;
  text-align: center;
}

#clientes .cliente-texto .telefone {
  display: flex;
  font-size: 14px;
  color: #b4b4b4;
}

#clientes .cliente-texto .telefone img {
  width: 60% ;
}

#clientes .container .imagem img{
  width: 75%;
}
#clientes .cliente-texto .telefone span {
  font-size: 18px;
  color: #797979;
  font-weight: 900;
  display: flex;
}

#servicos .badge {
  font-weight: 400;
}

#servicos .element-item img {
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

#servicos .element-item img:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

#servicos .cargo {
  text-align: start;
  vertical-align: middle;
}
#servicos .cargo p{
  color: #383838;
  font-size: 15px;
}
#servicos .tempo {
  text-align: start;
}
#servicos .tempo p{
  color: #383838;
  font-size: 15px;
}

#servicos .button-group {
  margin-bottom: 30px;
}

#servicos .button-group button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}

#servicos .button-group button + button {
  margin-left: 30px;
}

#servicos .button-group button.active {
  color: var(--primary);
}
#servicos .container #exp{
  text-decoration: none;
}

#depoimentos .depoimento {
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  padding: 30px;
}
#depoimentos .carousel-control-prev .carousel-control-prev-icon{
  filter: invert(1);
  opacity: 1;
} 
#depoimentos .carousel-control-next .carousel-control-next-icon{
  filter: invert(1);
  opacity: 1;
} 
#depoimentos .carousel-indicators{
  filter: invert(1);
  opacity: 1;
}
#depoimentos .depoimento .quote {
  max-width: 35px;
}

#depoimentos .depoimento .name {
  color: #aaaaaa;
}

#depoimentos .depoimento .name span {
  color: #000;
  font-weight: 700;
}
#depoimentos .depoimento .libras img{
  width: 150px;
  height: 50px;
}
#depoimentos .recomenda .depoimento img{
  border-radius: 50%;
}
#depoimentos .seta-esq{
  margin-left: -100px;

}
#depoimentos .seta-dir{
  margin-right: -100px;

}
#depoimentos .base{
  margin-bottom: -30px;

}

#depoimentos .depoimento a{
  text-decoration: none;
}

#contato .email {
  border-radius: 5px;
  background-color: var(--secondary);
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 30px;
}

#contato .email img {
  position: absolute;
  left: 40px;
  top: -50px;
}

#contato .email form {
  width: 60%;
  display: flex;
}

#contato .email .form-control,
#contato .email .form-control::placeholder {
  background: none;
  color: #fff;
}

#contato ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#contato ul li {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}

#contato ul li:first-child {
  margin-left: 0;
}
#depoimentos img{
  width: 100px;
  height: 100px;
}
#contato ul li a {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all ease-out 0.2s;
}

#contato ul li a:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#contato ul li img {
  max-height: 40px;
}
#contato .img-fluid{
  width: 200px;
}
#portfolio img{
  width: 13%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .picpay img{
  width: 80%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#portfolio .pictexto span{
  font-size: medium;
  color: #383838;
}
.tam_img{
  width: 80%;
}